.brands{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.brands-container{
    width: 93%;
    display: flex;
    justify-content: space-between
}

.brand{
    width: 15%;
    height: 90px;
    border: 1px solid lightgray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img{
    width: 60%;
    height: 70%;
}