.qr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.qr-container{
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393e4a;
    border-radius: 10px;
    padding-bottom: 20px;
}

.qr-main-content{
    width: 100%;
    display: flex;
    padding: 60px 0 0 60px;
    margin-bottom: 10px;
}

.qr-left{
    width: 70%;
}

.qr-left p{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    width: 90%;
    margin-bottom: 56px;
}

.qr-left a{
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 225px;
    background-color: #40b659;
    padding: 11px 50px;
    transition: all ease 0.15s;
}

.qr-left a:hover{
    background-color: transparent;
    color: #40b659;
    border: 1px solid #40b659;
}

.qr-left-mob{
    display: none;
}

.qr-left-mob{
    width: 70%;
}

.qr-left-mob p{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    width: 90%;
    margin-bottom: 56px;
}

.qr-left-mob a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #40b659;
    padding: 11px 50px;
    transition: all ease 0.15s;
}

.qr-left-mob a:hover{
    background-color: transparent;
    color: #40b659;
    border: 1px solid #40b659;
}

.mob-download{
    width: 90%;
    font-size: 16px;
    color: white;
    display: none;
}

.download-buttons{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.download-buttons a{
    color: white;
    padding: 20px;
    white-space: nowrap;
    border: 1px solid white;
    border-radius: 8px;
    width: 45%;
}

.download-buttons a i{
    margin-right: 5px;
}
.scan-view{
    width: 30%;
}

.scan-view img{
    width: 206px;
    margin-bottom: 18px;
    border-radius: 5px;
}

.scan-view span{
    display: block;
    font-size: 16px;
    color: #fff;
}

.bottom-line{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
   }

   .green{
    background-color: green;
    width: 20%;
    height: 8px;
   }

   .circle{
    background-color: white;
    padding: 10px;
    clip-path: circle();
    border: none;
   }

   .orange{
    background-color: orange;
    width: 80%;
    height: 8px;
   }

   