.reklam-banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.reklam-container{
    width: 93%;
    display: flex;
    justify-content: space-between;
}

.reklam-container a{
    width: 49%;
}

.reklam-container a img{
    width: 100%;
}